@import "tailwindcss";

@theme {
    --colors-dark: #000000;
    --color-card: #1e1e2f;
    --color-accent: #2F1B0C;
    --color-secondaryAccent: #8C5C3A;
    --color-textSecondary: #94a3b8;
    --font-sans: "Inter", sans-serif;
  }

.blur-theme {
  background: rgba(30, 30, 47, 0.6);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}