@import "tailwindcss";

@theme {
    --colors-dark: #000000;
    --color-card: #1e1e2f;
    --color-accent: #2F1B0C;
    --color-secondaryAccent: #8C5C3A;
    --color-textSecondary: #94a3b8;
    --font-sans: "Inter", sans-serif;
  }